#box1{
  		height:60px;
  		font-size:40px;
  		background-color: #F0E68C;
        color:	#2F4F4F;
        text-align:center;
        }

.box{
	height: 60px;
	display:flex;
    justify-content: flex-end; 
    text-decoration: underline; 
    color:#333333;
    font-size:20px;
}
.box2{
	   width: 100px;
	  
}
.out{
        height:90px; 
	    font-size:25px;
	    display: flex;
        justify-content: center;
        color:#FFFF66;
}
.yan{

      font-size:25px;
      color:#FFFF66;
}
.OUTBOX{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.bubble_other{
	width:390px;
	height:150px;
	border-width:2px;
    border-style:solid;
    border-color:#66CC99;
    border-radius:15px;
    background-color:#66CC99;
}
.username_other{
	display:inline;
	font-size:15px;
	color:blue;
	text-decoration: underline;

}
.date1{
	display:inline;
	font-size:15px;
	text-decoration: underline;
	color:#333333;
}
.str1{
	font-size:20px;
	height:100px;

}
.like1{
	text-decoration: underline;
	display:inline;
	font-size:15px;
	color:#333333;
}
.bubble_my{
	width:390px;
	height:150px;
	border-width:2px;
    border-style:solid;
    border-color:#669966;
    border-radius:15px;
    background-color:#CCCC99;  
}
.username_my{
	display:inline;
	font-size:15px;
	color:blue;
	text-decoration: underline;
}
.date2{
	display:inline;
	font-size:15px;
	text-decoration: underline;
	color:#333333;
}
.str2{
	font-size:20px;
	height:100px;

}
.like2{
	text-decoration: underline;
	display:inline;
	font-size:15px;
	color:#333333;
}
.del{
	text-decoration: underline;
	display:inline;
	font-size:15px;
	color:#333333;
	bottom: 0px;
}
.re{
	text-decoration: underline;
	display:inline;
	font-size:15px;
	color:#333333;
	bottom: 0px;
}


